In [2]:
import pandas as pd

In [3]:
#read csv files and merge revenue df and subscriber df
df1 = pd.read_csv("NetflixRevenue.csv")
df2 = pd.read_csv("NetflixSubscriber.csv")
df3 = pd.read_csv("NetflixHistoricStockPrice.csv")
df4 = pd.merge(df1, df2, on=["Area", "Years"])
df4.head()

                              Area      Years     Revenue  Subscribers
0         United States and Canada  Q1 - 2018  1976157000     60909000
1  Europe,  Middle East and Africa  Q1 - 2018   886649000     29339000
2                    Latin America  Q1 - 2018   540182000     21260000
3                     Asia-Pacific  Q1 - 2018   199117000      7394000
4         United States and Canada  Q2 - 2018  2049546000     61870000

In [4]:
df4_UnitedStateandCanada = df4[df4["Area"] == "United States and Canada"].reset_index(drop=True)
df4_EuropeMiddleEastandAfrica = df4[df4["Area"] == "Europe,  Middle East and Africa"].reset_index(drop=True)
df4_LatinAmerica = df4[df4["Area"] == "Latin America"].reset_index(drop=True)
df4_AsiaPacific = df4[df4["Area"] == "Asia-Pacific"].reset_index(drop=True)
df4_UnitedStateandCanada

                       Area      Years     Revenue  Subscribers
0  United States and Canada  Q1 - 2018  1976157000     60909000
1  United States and Canada  Q2 - 2018  2049546000     61870000
2  United States and Canada  Q3 - 2018  2094850000     63010000
3  United States and Canada  Q4 - 2018  2160979000     64757000
4  United States and Canada  Q1 - 2019  2256851000     66633000
5  United States and Canada  Q2 - 2019  2501199000     66501000
6  United States and Canada  Q3 - 2019  2621250000     67114000
7  United States and Canada  Q4 - 2019  2671908000     67662000
8  United States and Canada  Q1 - 2020  2702776000     69969000
9  United States and Canada  Q2 - 2020  2839670000     72904000

In [5]:
#filter only the month at quarter end
df3["Date"] = pd.to_datetime(df3["Date"])
df3_quarterly = df3[df3["Date"].dt.strftime('%m-%d').isin(['04-01', '01-01', '07-01', '10-01'])]
df3_quarterly

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-01,196.100006,286.809998,195.419998,270.299988,270.299988,238377600
3,2018-04-01,291.940002,338.820007,271.220001,312.459991,312.459991,262006000
6,2018-07-01,385.450012,419.769989,328.000000,337.450012,337.450012,305393800
9,2018-10-01,375.850006,386.799988,271.209991,301.779999,301.779999,363589800
12,2019-01-01,259.279999,358.850006,256.579987,339.500000,339.500000,306616400
15,2019-04-01,359.000000,384.799988,342.269989,370.540009,370.540009,165079400
18,2019-07-01,373.500000,384.760010,305.809998,322.989990,322.989990,196652500
21,2019-10-01,267.350006,308.750000,257.010010,287.410004,287.410004,231556400
24,2020-01-01,326.100006,359.850006,321.200012,345.089996,345.089996,169874000
27,2020-04-01,376.049988,449.519989,357.510010,419.850006,419.850006,225111600
30,2020-07-01,454.000000,575.369995,454.000000,488.880005,488.880005,232206300

In [6]:
#remove first row as it's the 2017 Q4 data and remove Date column
df3_quarterly_final = df3_quarterly[df3_quarterly["Date"] != "2018-01-01"].reset_index(drop=True)
df3_quarterly_final

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-04-01,291.940002,338.820007,271.220001,312.459991,312.459991,262006000
1,2018-07-01,385.450012,419.769989,328.000000,337.450012,337.450012,305393800
2,2018-10-01,375.850006,386.799988,271.209991,301.779999,301.779999,363589800
3,2019-01-01,259.279999,358.850006,256.579987,339.500000,339.500000,306616400
4,2019-04-01,359.000000,384.799988,342.269989,370.540009,370.540009,165079400
5,2019-07-01,373.500000,384.760010,305.809998,322.989990,322.989990,196652500
6,2019-10-01,267.350006,308.750000,257.010010,287.410004,287.410004,231556400
7,2020-01-01,326.100006,359.850006,321.200012,345.089996,345.089996,169874000
8,2020-04-01,376.049988,449.519989,357.510010,419.850006,419.850006,225111600
9,2020-07-01,454.000000,575.369995,454.000000,488.880005,488.880005,232206300

In [7]:
#merge quarterly stock date with merged revenue/subscriber df
df4_UnitedStateandCanada_merged = pd.merge(df4_UnitedStateandCanada,df3_quarterly_final, left_index=True, right_index=True)
df4_EuropeMiddleEastandAfrica_merged = pd.merge(df4_EuropeMiddleEastandAfrica,df3_quarterly_final, left_index=True, right_index=True)
df4_LatinAmerica_merged = pd.merge(df4_LatinAmerica,df3_quarterly_final, left_index=True, right_index=True)
df4_AsiaPacific_merged = pd.merge(df4_AsiaPacific,df3_quarterly_final, left_index=True, right_index=True)
df4_AsiaPacific_merged

,Area,Years,Revenue,Subscribers,Date,Open,High,Low,Close,Adj Close,Volume
0,Asia-Pacific,Q1 - 2018,199117000,7394000,2018-04-01,291.940002,338.820007,271.220001,312.459991,312.459991,262006000
1,Asia-Pacific,Q2 - 2018,221252000,8372000,2018-07-01,385.450012,419.769989,328.000000,337.450012,337.450012,305393800
2,Asia-Pacific,Q3 - 2018,248691000,9461000,2018-10-01,375.850006,386.799988,271.209991,301.779999,301.779999,363589800
3,Asia-Pacific,Q4 - 2018,276756000,10607000,2019-01-01,259.279999,358.850006,256.579987,339.500000,339.500000,306616400
4,Asia-Pacific,Q1 - 2019,319602000,12141000,2019-04-01,359.000000,384.799988,342.269989,370.540009,370.540009,165079400
5,Asia-Pacific,Q2 - 2019,349494000,12942000,2019-07-01,373.500000,384.760010,305.809998,322.989990,322.989990,196652500
6,Asia-Pacific,Q3 - 2019,382304000,14485000,2019-10-01,267.350006,308.750000,257.010010,287.410004,287.410004,231556400
7,Asia-Pacific,Q4 - 2019,418121000,16233000,2020-01-01,326.100006,359.850006,321.200012,345.089996,345.089996,169874000
8,Asia-Pacific,Q1 - 2020,483660000,19835000,2020-04-01,376.049988,449.519989,357.510010,419.850006,419.850006,225111600
9,Asia-Pacific,Q2 - 2020,569140000,22492000,2020-07-01,454.000000,575.369995,454.000000,488.880005,488.880005,232206300

In [8]:
#merge all areas together and delete Date column
df_cleaned = pd.concat([df4_UnitedStateandCanada_merged, df4_EuropeMiddleEastandAfrica_merged, df4_LatinAmerica_merged, df4_AsiaPacific_merged])
del df_cleaned["Date"]
df_cleaned= df_cleaned.reset_index(drop=True)
df_cleaned

,Area,Years,Revenue,Subscribers,Open,High,Low,Close,Adj Close,Volume
0,United States and Canada,Q1 - 2018,1976157000,60909000,291.940002,338.820007,271.220001,312.459991,312.459991,262006000
1,United States and Canada,Q2 - 2018,2049546000,61870000,385.450012,419.769989,328.000000,337.450012,337.450012,305393800
2,United States and Canada,Q3 - 2018,2094850000,63010000,375.850006,386.799988,271.209991,301.779999,301.779999,363589800
3,United States and Canada,Q4 - 2018,2160979000,64757000,259.279999,358.850006,256.579987,339.500000,339.500000,306616400
4,United States and Canada,Q1 - 2019,2256851000,66633000,359.000000,384.799988,342.269989,370.540009,370.540009,165079400
5,United States and Canada,Q2 - 2019,2501199000,66501000,373.500000,384.760010,305.809998,322.989990,322.989990,196652500
6,United States and Canada,Q3 - 2019,2621250000,67114000,267.350006,308.750000,257.010010,287.410004,287.410004,231556400
7,United States and Canada,Q4 - 2019,2671908000,67662000,326.100006,359.850006,321.200012,345.089996,345.089996,169874000
8,United States and Canada,Q1 - 2020,2702776000,69969000,376.049988,449.519989,357.510010,419.850006,419.850006,225111600
9,United States and Canada,Q2 - 2020,2839670000,72904000,454.000000,575.369995,454.000000,488.880005,488.880005,232206300
10,"Europe, Middle East and Africa",Q1 - 2018,886649000,29339000,291.940002,338.820007,271.220001,312.459991,312.459991,262006000
11,"Europe, Middle East and Africa",Q2 - 2018,975497000,31317000,385.450012,419.769989,328.000000,337.450012,337.450012,305393800
12,"Europe, Middle East and Africa",Q3 - 2018,1004749000,33836000,375.850006,386.799988,271.209991,301.779999,301.779999,363589800
13,"Europe, Middle East and Africa",Q4 - 2018,1096812000,37818000,259.279999,358.850006,256.579987,339.500000,339.500000,306616400
14,"Europe, Middle East and Africa",Q1 - 2019,1233379000,42542000,359.000000,384.799988,342.269989,370.540009,370.540009,165079400
15,"Europe, Middle East and Africa",Q2 - 2019,1319087000,44229000,373.500000,384.760010,305.809998,322.989990,322.989990,196652500
16,"Europe, Middle East and Africa",Q3 - 2019,1428040000,47355000,267.350006,308.750000,257.010010,287.410004,287.410004,231556400
17,"Europe, Middle East and Africa",Q4 - 2019,1562561000,51778000,326.100006,359.850006,321.200012,345.089996,345.089996,169874000
18,"Europe, Middle East and Africa",Q1 - 2020,1723474000,58734000,376.049988,449.519989,357.510010,419.850006,419.850006,225111600
19,"Europe, Middle East and Africa",Q2 - 2020,1892537000,61483000,454.000000,575.369995,454.000000,488.880005,488.880005,232206300
20,Latin America,Q1 - 2018,540182000,21260000,291.940002,338.820007,271.220001,312.459991,312.459991,262006000
21,Latin America,Q2 - 2018,568071000,22795000,385.450012,419.769989,328.000000,337.450012,337.450012,305393800
22,Latin America,Q3 - 2018,562307000,24115000,375.850006,386.799988,271.209991,301.779999,301.779999,363589800
23,Latin America,Q4 - 2018,567137000,26077000,259.279999,358.850006,256.579987,339.500000,339.500000,306616400
24,Latin America,Q1 - 2019,630472000,27547000,359.000000,384.799988,342.269989,370.540009,370.540009,165079400
25,Latin America,Q2 - 2019,677136000,27890000,373.500000,384.760010,305.809998,322.989990,322.989990,196652500
26,Latin America,Q3 - 2019,741434000,29380000,267.350006,308.750000,257.010010,287.410004,287.410004,231556400
27,Latin America,Q4 - 2019,746392000,31417000,326.100006,359.850006,321.200012,345.089996,345.089996,169874000
28,Latin America,Q1 - 2020,793453000,34318000,376.049988,449.519989,357.510010,419.850006,419.850006,225111600
29,Latin America,Q2 - 2020,785368000,36068000,454.000000,575.369995,454.000000,488.880005,488.880005,232206300
30,Asia-Pacific,Q1 - 2018,199117000,7394000,291.940002,338.820007,271.220001,312.459991,312.459991,262006000
31,Asia-Pacific,Q2 - 2018,221252000,8372000,385.450012,419.769989,328.000000,337.450012,337.450012,305393800
32,Asia-Pacific,Q3 - 2018,248691000,9461000,375.850006,386.799988,271.209991,301.779999,301.779999,363589800
33,Asia-Pacific,Q4 - 2018,276756000,10607000,259.279999,358.850006,256.579987,339.500000,339.500000,306616400
34,Asia-Pacific,Q1 - 2019,319602000,12141000,359.000000,384.799988,342.269989,370.540009,370.540009,165079400
35,Asia-Pacific,Q2 - 2019,349494000,12942000,373.500000,384.760010,305.809998,322.989990,322.989990,196652500
36,Asia-Pacific,Q3 - 2019,382304000,14485000,267.350006,308.750000,257.010010,287.410004,287.410004,231556400
37,Asia-Pacific,Q4 - 2019,418121000,16233000,326.100006,359.850006,321.200012,345.089996,345.089996,169874000
38,Asia-Pacific,Q1 - 2020,483660000,19835000,376.049988,449.519989,357.510010,419.850006,419.850006,225111600
39,Asia-Pacific,Q2 - 2020,569140000,22492000,454.000000,575.369995,454.000000,488.880005,488.880005,232206300

In [9]:
#export to csv
df_cleaned.to_csv("Netflix Merged Dataset.csv")